---
layout: 'slide'
title: 'Presentation'
---

.slide#title-slide
	h1 Power Point Presentation PDFs
	
	h3 An Alliterative Problem
	
.slide#info
	h2 follow along at 
		a(href='http://ppp.no.de') ppp.no.de
	
	li move around with arrow keys
	li or if your using Internet Explorer (IE) 8 or lower click the buttons to go back and forth
	li you can also use the 'g' key to skip to a slide (again may not work in IE 8 and lower)

.slide#causes
	h2 Causes
	
	li.slide#causes-1 We need to make presentations
	li.slide#causes-2 Power Point is pretty much the only program we have
	li.slide#causes-3 People always want to see our awsome slides, so we try to post them online
	
.slide#ppt
	h2 Can't we just post .ppt files?

	li I'm glad you asked
	li.slide#ppt-1 no
	li.slide#ppt-2 you need to have installed/bought powerpoint
	li.slide#ppt-3 unless you made it on power point 2007, then your out of luck if you have an old copy of powerpoint
	li.slide#ppt-4 plus you can't just view it in your web browers, you have to download it
	li.slide#ppt-5 also someone could download it and alter it, with out needing any knowledge of anything
	li.slide#ppt-6 sometimes these are huge files
	li.slide#ppt-7 sometimes the computer we're making the presentation on don't have the right powerpoint version
	li.slide#ppt-8 or is missing fonts
	li.slide#ppt-9 or a million other things

.slide#pdf
	h2 Whats wrong with PDFs?

	li.slide#pdf-1 you didn't make your presentation with it, so it has to be converted, this isn't always perfect
	li.slide#pdf-2 it isn't always 508 complient
	li.slide#pdf-3 it's still a huge file
	li.slide#pdf-4 not everybody has the acrobat reader plugin installed preventing them from reading it online
	li.slide#pdf-5 some people don't even have a reader installed
	li.slide#pdf-6 technically a gross violation of the ITD policy about binary files

.slide#perfect-world
	h2 In a perfect world

	ol	
		li.slide#perfect-world-1 Presentations would be designed from the ground up to work with the one program people visiting our site all have, a web browser.
		li.slide#perfect-world-2 They would be 508 complient by default
		li.slide#perfect-world-3 It would be as easy or easier then making them with powerpoint
		
.slide#browser
	h2 browser presentations
	
	li.slide#browser-1 several sites exist that allow you to do upload a powerpoint and get it converted to html
	li.slide#browser-2 they are all blocked here
	li.slide#browser-3 some of them cost money
	li.slide#browser-4 don't work if you don't have internet access
	li.slide#browser-5 some are deffinitly not 508 complient \(google docs)
	li.slide#browser-6 some don't work with all browsers
	
.slide#deckjs
	h2 Deck.js
	
	li.slide#deckjs-1 it's a script, written in javascript that tuns html pages into slide shows
	li.slide#deckjs-2 it's open source under the MIT license
	li.slide#deckjs-3 it creates fancy presentations using html5 and css3
	li.slide#deckjs-4 but it user modernizr to create less fancy presentations for older browsers \(aka Internet Explorer)
	li.slide#deckjs-5 but the files it needs to show the presentation are all local, so you can store it on a thumb drive if you don't have internet
	li.slide#deckjs-6 as long as your smart and remember your alt text it's 508 comlient
	li.slide#deckjs-7 our massdot site is already built using html, css, and javascript, so if you can't view that, your not getting to our page on the site
	li.slide#deckjs-8 best of all, it degrades well, older browsers won't see the transitions for instance, they'll still see everything else
	
.slide#excuses
	h2 but I don't know html javascript or css

	li.slide#excuses-1 doesn't matter, it's written in javascript the same way Windows is written in C, you don't have to care
	li.slide#excuses-2 css is used for the templates if your forced to fiddle with the CSS then you should be complaining to whomever made the template
	li.slide#excuses-3 for the html, you will technically need to know it
	li.slide#excuses-4 but if I didn't tell you, you might not have realized
	
.slide#making
	h2 making slides
	
	li.slide#enter-markdown you can code slides in a language called 'MarkDown'
	li.slide#about-markdown it was designed for people to leave comments on pages and make them look nice
	li.slide#my-cat-has-an-advanced-physics-degree my cat could use markdown

.slide#markdown
	h2 markdown
	
	li.slide#md-1 # means top level header i.e. your presentation
	li.slide#md-2 ## means second level header i.e. a slide
	li.slide#md-3 ### is third level and so on
	li.slide#md-4 so start your presentation off with # title
	li.slide#md-5 then on the next line write ### subtitle
	li.slide#md-6 then skip a line and write ## first slide title
	li.slide#md-7: code # Office of Transportation Planning at MassDOT
	li.slide#md-8: code ### David Mohler Executive Director
	li.slide#md-9: code ## Section 10: 2009 Transportation Reform Legislation
	li.slide#md-10 want a numbered list? just start write the list starting with a number followed by a period and a space
	li.slide#md-11: code 1. Establishes an Office of Transportation Planning within MassDOT
	li.slide#md-12: code 2. Serves as principal source of transportation planning for state
	li.slide#md-13 it doesn't actually matter what the number is
	li.slide#md-14: code 2. Develops state's transportation-related programs outlined in Section 10 of Reform Legislation
	li.slide#md-15 that turns into
	
.slide#ex1-1
	h1 Office of Transportation Planning at MassDOT
	h3 David Mohler Executive Director

.slide#ex1-2
	h2 Section 10: 2009 Transportation Reform Legislation
	ol
		li Establishes an Office of Transportation Planning within MassDOT
		li Serves as principal source of transportation planning for state
		li Develops state's transportation-related programs outlined in Section 10 of Reform Legislation

.slide#md2djs
	h2 with the help of markdown2deckjs
	
	li.slide#md2djs-1 want text? just put an emptly line above and bellow a block of text
	li.slide#md2djs-2: code ## OTP Mission
	li.slide#md2djs-3: code Conduct Rigorous, innovative ,and collaborative planning and technology transfer using the best data managment and analysis tools in order to move people and goods on a safe, efficient, and integrated transportation network, comply with federal and state regulations, and support vibrant communities.
	li.slide#md2djs-4 bullet list? just start it off with an *, or a + or a -
	li.slide#md2djs-5 want them to come out one by one? end the line with a ~
	li.slide#md2djs-6: code ## Why OTP is the first stop
	li.slide#md2djs-7: code * We provide objective and strategic thinking~
	li.slide#md2djs-8: code + We determine need and focus on an outcome~
	li.slide#md2djs-9: code - We are disciplined and mission driven~
	li.slide#md2djs-10 this turns into

.slide#ex2-1
	h2 OTP Mission
	p Conduct Rigorous, innovative ,and collaborative planning and technology transfer using the best data managment and analysis tools in order to move people and goods on a safe, efficient, and integrated transportation network, comply with federal and state regulations, and support vibrant communities.
	
.slide#ex2-2
	h2 Why OTP is the first stop
	li.slide#ex2-2a We provide objective and strategic thinking
	li.slide#ex2-2b We determine need and focus on an outcome
	li.slide#ex2-2c We are disciplined and mission driven

.slide#picture
	h2 want a picture
	li.slide#picture-1: code ## How we do bussiness
	li.slide#picture-2: code ![alt text](Picture2.jpg)
	li.slide#picture-3 turns into
	
.slide#ex3
	h2 How we do bussiness
	img(src='Picture2.jpg')
	
.slide#format
	h2 formating (this depends on the css code and browser settings)
	li: em Emphasize
	li: strong Emphasize more
	li: code *emphisize*
	li: code **be strong**
	li ran<strong>dom</strong>ly
	li: code ran**dom**ly

.slide#fin
	h2 that is it
	li.slide#fin-1 pictures and text are 99% of what power points have in them
	li.slide#fin-2 you are ready to go out and make these
	li.slide#fin-3 I don't need to tell you any more
	li.slide#fin-4 ok I'll show you some fancy stuff we can do
	
.slide#not-a-box
	h2 think outside the presentation
	li.slide#interactive since we will be putting this online as is, we can add interactive elements
	li.slide#links: a(href='http://www.massdot.state.ma.us/planning', target='_blank') like links
	li.slide#link-example: code * [like links](http://www.massdot.state.ma.us/planning)
	li.slide#teaser or

.slide#fonts
	h2 mess with fonts
	li(style='font-family: \'Josefin Sans\'') These Fancy
	li(style='font-family: \'Atomic Age\'') things
	li(style='font-family: \'Quicksand\'') are not
	li(style='font-family: \'Pinyon Script\'') necessarily
	li(style='font-family: \'Gochi Hand\'') guaranteed
	li(style='font-family: \'Astloch\'') to work for all
	
.slide#webmap
	h2 how about a webmap?
	<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/?ie=UTF8&amp;ll=42.352176,-71.06638&amp;spn=0.002299,0.002411&amp;t=h&amp;z=19&amp;vpsrc=6&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/?ie=UTF8&amp;ll=42.352176,-71.06638&amp;spn=0.002299,0.002411&amp;t=h&amp;z=19&amp;vpsrc=6&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	
.slide#video
	h2 how did you do that?
	<!--thank you to http://camendesign.com/code/video_for_everybody for this-->
	video(controls='controls', poster='http://calvinmetcalf.github.com/ppp/ppp.png', width='640', height='480')
			source(src='http://calvinmetcalf.github.com/ppp/ppp.mp4', type='video/mp4')
			source(src='http://calvinmetcalf.github.com/ppp/ppp.ogv', type='video/ogg')
			source(src='http://calvinmetcalf.github.com/ppp/ppp.webm', type='video/webm')
			object(type='application/x-shockwave-flash', data='http://player.longtailvideo.com/player.swf', width='640', height='480')
				param(name='movie', value='http://player.longtailvideo.com/player.swf')
				param(name='allowFullScreen', value='true')
				param(name='wmode', value='transparent')
				param(name='flashVars', value='controlbar=over&amp;image=http://calvinmetcalf.github.com/ppp/ppp.png&amp;file=http://calvinmetcalf.github.com/ppp/ppp.flv')
				img(alt='go to google maps, make your map, click the link button, choose the Paste HTML option, put that into your presentation', src='http://calvinmetcalf.github.com/ppp/ppp.png', width='640', height='480', title='No video playback capabilities, please download the video below')
	p 
		strong Download video 
		a(href='http://calvinmetcalf.github.com/ppp/ppp.mp4') MP4 format 
		\| 
		a(href='http://calvinmetcalf.github.com/ppp/ppp.ogv') Ogg format 
		\| 
		a(href='http://calvinmetcalf.github.com/ppp/ppp.webm') WebM format

.slide#how
	h2 was that a video?
	li.slide#yes yes
	li.slide#plugin what plugin did you use to embed it?
	li.slide#html5 none just html5 and the video tag
	li.slide#accessable how is that accessable?
	li.slide#alt-text if you can't view video it has a text description of how to embed the map
	li.slide#ie8 how does it work in ie8 and earlier which don't support the video tag?
	li.slide#lier ok I lied there is a flash plugin to play the video then
	li.slide#sound whats with the sound?
	li.slide#that-cat there may have been a cat involved
	li.slide#in-case-you-were-confused how (did you do it, not how did the cat mess you up)?
	li.slide#dodging-the-question not really in the scope of this presentation, but it isn't too hard
	li.slide#but-wait-theres-more what else can we do?
	
.slide(style='background-color:#0077d4')#think-big
	h1(style='color:#fff;') Think Big
	
.slide#survey
	h2 take a survey
	form
		p Yea
		input(type='text', name='good', id='good', value='1', onClick='SelectAll\(\'good\'\)', onChange='drawChart\(\)')
		p Nay
		input(type='text', name='bad', id='bad', value='7', onClick='SelectAll\(\'bad\'\)', onChange='drawChart\(\)')
		
.slide#hey
	h2 view the results
	img(src='https://chart.googleapis.com/chart?cht=p3&chs=600x200&chl=Lame|Awesome&chco=FF0000|00FF00&chtt=People+Who+Think+This+is&chd=t:7,1', id='chart')
	
.slide#charts
	h2 embed a table
	li(style='float:left;clear:none;') try sorting it
		#table(style='width: 300px; height: 300px;')
	li.slide(style='float:right;clear:none;')#org turn it into a an org chart (try double clicking on a box)
		#orgchart(style='width: 300px; height: 400px;border: 0 none;')
	
.slide#graph
	h2 make a graph
	#holder

//if !IE
	\-\-\>
	.slide#if-you-can-see-this-your-not-using-ie
		h2 use the html5 canvas element
		canvas(id='canvas', resize='true')
	\<\!\-\-
		
.slide#caviats
	h2 Caviats
	li.slide#caviats-1 Your not going to be able to magically turn all your old powerpoint presentations into html at the press of a button they need to be translated by hand
	li.slide#caviats-2 adding multiple images to the same slide is hard to do in a way that looks good on all screen sizes
	li.slide#caviats-3 this is an html thing not a deck.js thing.
	li.slide#caviats-4 it may look ugly (but readable) on IE6, but I think those 1.3% of Americans who still use IE6 are used to an ugly internet
	li.slide#caviats-5 you can't embed a pdf in here don't even ask
	li.slide#caviats-6 this doesn't change the fact that a picture of text is not the same as text, this won't make your scanned document accesable

.slide#denouncement
	h2 to sum up
	li.slide#denouncement-pp Powerpoint
		ul
			li.slide#denouncement-pp-1 often complicated to do simply things
			li.slide#denouncement-pp-2 not portable
			li.slide#denouncement-pp-3 need the right software
			li.slide#denouncement-pp-4 unless you have the right version of powerpoint or acrobat, can't even view it
			li.slide#denouncement-pp-5 hard to make 508 compliant
	li.slide#denouncement-djsmd Deck.js + Markdown
		ul
			li.slide#denouncement-djsmd-1 you already know how to use it
			li.slide#denouncement-djsmd-2 view it anywehre
			li.slide#denouncement-djsmd-3 with any browser
			li.slide#denouncement-djsmd-4 when it dosn't work, it still works, just doesn't look as nice
			li.slide#denouncement-djsmd-5 easy 508 compliant
