---
layout: 'slide'
title: 'Presentation'
---

.slide
	h1 Power Point Presentation PDFs
	
	h3 An Alliterative Problem

.slide
	h2 Causes
	
	li.slide We need to make presentations
	li.slide Power Point is pretty much the only program we have
	li.slide People always want to see our awsome slides, so we try to post them online
	
.slide
	h2 Can't we just post .ppt files?

	li I'm glad you asked
	li.slide no
	li.slide you need to have installed/bought powerpoint
	li.slide unless you made it on power point 2007, then your out of luck if you have an old copy of powerpoint
	li.slide plus you can't just view it in your web browers, you have to download it
	li.slide also someone could download it and alter it, with out needing any knowledge of anything
	li.slide sometimes these are huge files
	li.slide sometimes the computer we're making the presentation on don't have the right powerpoint version
	li.slide or is missing fonts
	li.slide or a million other things

.slide
	h2 Whats wrong with PDFs?

	li.slide you didn't make your presentation with it, so it has to be converted, this isn't always perfect
	li.slide it isn't always 508 complient
	li.slide it's still a huge file
	li.slide not everybody has the acrobat reader plugin installed preventing them from reading it online
	li.slide some people don't even have a reader installed
	li.slide technically a gross violation of the ITD policy about binary files

.slide
	h2 In a perfect world

	ol	
		li.slide Presentations would be designed from the ground up to work with the one program people visiting our site all have, a web browser.
		li.slide They would be 508 complient by default
		li.slide It would be as easy or easier then making them with powerpoint
		
.slide
	h2 browser presentations
	
	li.slide several sites exist that allow you to do upload a powerpoint and get it converted to html
	li.slide they are all blocked here
	li.slide some of them cost money
	li.slide don't work if you don't have internet access
	li.slide some are deffinitly not 508 complient \(google docs)
	li.slide some don't work with all browsers
	
.slide
	h2 Deck.js
	
	li.slide it's a script, written in javascript that tuns html pages into slide shows
	li.slide it's open source under the MIT liscence
	li.slide it creates fancy presentations using html5 and css3
	li.slide but it user modernizr to create less fancy presentations for older browsers \(aka Internet Explorer)
	li.slide but the files it needs to show the presentation are all local, so you can store it on a thumb drive if you don't have internet
	li.slide as long as your smart and remember your alt text it's 508 comlient
	li.slide our massdot site is already built using html, css, and javascript, so if you can't view that, your not getting to our page on the site
	li.slide best of all, it degrades well, older browsers won't see the transitions for instance, they'll still see everything else
	
.slide
	h2 but I don't know html javascript or css

	li.slide doesn't matter it's written in javascript the same way windows is written in C, you don't have to care
	li.slide css is used for the templates if your forced to fiddle with the CSS then you should be complaining to whoever made the template
	li.slide for the html you will need to know it, but as you'll see if I didn't tell you you might not have realized
	
.slide
	h2 making slides
	
	li.slide you can code slides in a language called 'MarkDown'
	li.slide it was designed for people to leave comments on pages and make them look nice
	li.slide my cat could use markdown

.slide
	h2 markdown
	
	li.slide # means top level header i.e. your presentation
	li.slide ## means second level header i.e. a slide
	li.slide ### is third level and so on
	li.slide so start your presentation off with # title
	li.slide then on the next line write ### subtitle
	li.slide then skip a line and write ## first slide title
	li.slide: code # Office of Transportation Planning at MassDOT
	li.slide: code ### David Mohler Executive Director
	li.slide: code ## Section 10: 2009 Transportation Reform Legislation
	li.slide want a numbered list? just start write the list starting with a number followed by a period and a space
	li.slide: code 1. Establishes an Office of Transportation Planning within MassDOT
	li.slide: code 2. Serves as principal source of transportation planning for state
	li.slide it doesn't actually matter what the number is
	li.slide: code 2. Develops state's transportation-related programs outlined in Section 10 of Reform Legislation
	li.slide that turns into
	
.slide
	h1 Office of Transportation Planning at MassDOT
	h3 David Mohler Executive Director

.slide
	h2 Section 10: 2009 Transportation Reform Legislation
	ol
		li Establishes an Office of Transportation Planning within MassDOT
		li Serves as principal source of transportation planning for state
		li Develops state's transportation-related programs outlined in Section 10 of Reform Legislation

.slide
	h2 more!
	
	li.slide want text? just put an emptly line above and bellow a block of text
	li.slide: code ## OTP Mission
	li.slide: code Conduct Rigorous, innovative ,and collaborative planning and technology transfer using the best data managment and analysis tools in order to move people and goods on a safe, efficient, and integrated transportation network, comply with federal and state regulations, and support vibrant communities.
	li.slide bullet list? just start it off with an *, or a + or a -
	li.slide want them to come out one by one? end the line with a ~
	li.slide: code ## Why OTP is the first stop
	li.slide: code * We provide objective and strategic thinking~
	li.slide: code + We determine need and focus on an outcome~
	li.slide: code - We are disciplined and mission driven~
	li.slide this turns into

.slide 
	h2 OTP Mission
	p Conduct Rigorous, innovative ,and collaborative planning and technology transfer using the best data managment and analysis tools in order to move people and goods on a safe, efficient, and integrated transportation network, comply with federal and state regulations, and support vibrant communities.
	
.slide
	h2 Why OTP is the first stop
	li.slide We provide objective and strategic thinking
	li.slide We determine need and focus on an outcome
	li.slide We are disciplined and mission driven

.slide
	h2 want a picture
	li.slide: code ## How we do bussiness
	li.slide: code ![alt text](Picture2.jpg)
	li.slide turns into
	
.slide 
	h2 How we do bussiness
	img(src='Picture2.jpg')

.slide
	h2 that is it
	li.slide pictures and text are 99% of what power points have in them
	li.slide you are ready to go out and make these
	li.slide I don't need to tell you any more
	li.slide ok I'll show you some fancy stuff we can do
	
.slide
	h2 think out side the presentation
	li.slide since we will be putting this online as is, we can add interactive elements
	li.slide: a(href='http://www.massdot.state.ma.us/planning', target='_blank') like links
	li.slide: code * [like links](http://www.massdot.state.ma.us/planning)
	li.slide or

.slide
	h2 how about a webmap?
	<iframe width="800" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/?ie=UTF8&amp;ll=42.352176,-71.06638&amp;spn=0.002299,0.002411&amp;t=h&amp;z=19&amp;vpsrc=6&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/?ie=UTF8&amp;ll=42.352176,-71.06638&amp;spn=0.002299,0.002411&amp;t=h&amp;z=19&amp;vpsrc=6&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	
.slide
	h2 how did you do that?
//thank you to http://camendesign.com/code/video_for_everybody for this
	video(controls='controls', width='612', height='489')
			source(src='ppp.mp4', type='video/mp4')
			source(src='ppp.ogg', type='video/ogg')
			source(src='ppp.webm', type='video/webm')
			object(type='application/x-shockwave-flash', data='http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf', width='612', height='489')
				param(name='movie', value='http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf')
				param(name='allowFullScreen', value='true')
				param(name='wmode', value='transparent')
				param(name='flashVars', value='config={\'playlist\':[{\'url\':\'ppp.mp4\',\'autoPlay\':false}]}')
			p go to google maps, make your map, click the link button, choose the Paste HTML option, put that into your presentation

.slide
	h2 was that a video?
	li.slide yes
	li.slide what plugin did you use to embed it?
	li.slide none just html5 and the video tag
	li.slide how is that accessable?
	li.slide if you can't view video it has a text description of how to embed the map
	li.slide how does it work in ie8 and earlier which don't support the video tag?
	li.slide ok I lied there is a flash plugin to play the video then
	li.slide whats with the sound?
	li.slide there may have been a cat involved
	li.slide how?
	li.slide not really in the scope of this presentation, but it isn't too hard
	li.slide what else can we do?
	
.slide
	h2 mess with fonts
	li(style='font-family: \'Josefin Sans\'') Josefin
	li(style='font-family: \'Atomic Age\'') Atomic Age
	li(style='font-family: \'Quicksand\'') Quicksand
	li(style='font-family: \'Pinyon Script\'') Pinyon Script
	li(style='font-family: \'Josefin Sans\'') Gochi Hand
	li(style='font-family: \'Josefin Sans\'') Astloch
	
.slide(style='background-color:#0077d4;font-size:16em;color:#fff;')
	li Be Big
	
.slide
	h2 to sum up
	li.slide Powerpoint
		ul
			li.slide Complicated
			li.slide Not portable
			li.slide need the right software
			li.slide doesn't just work
			li.slide not very 508 compliant
	li.slide Deck.js + markdown
		ul
			li.slide you already know how to use it
			li.slide view it anywehre
			li.slide with any browser
			li.slide when it dosn't work, it still works, just doesn't look as nice
			li.slide 508 compliant
